  .mdc-card {
    display: inline-flex;
    width: 305px;
    margin: 15px;
  }
  
  .mdc-card__media {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
  }

  .card-image-button {
    height: 28px;
    line-height: 0;
    min-width: 0;
    padding: 0 10px;
    font-size: 11px;
    position: relative;
    top: 0;
    left: 0;
    font-weight: bold;
    text-transform: capitalize;
    color: #c5c5c5 !important;
    background-color: white !important;
  }

  .mdc-card__primary {
    position: relative;  
    padding: 30px !important;
    height: 150px;  
  }

  .mdc-card__title {
      color: #545454;
      line-height: 20px;
  }

  .mdc-card__subtitle {
    margin-top: 10px;
    color: #b6b6b6;
    font-weight: bold;
    font-size: 11px;
  }

  .apartment .details {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    font-size: 13px;
  }

  .price {
    font-weight: bold;
    color: #303030;
  }

  .apartment-size {
    color: #828282;
    float: right;
  }

  .price, .apartment-size, .apartment-size span {
    display: inline-flex;
  }

  .price, .apartment-size > span {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .apartment-size .rooms {
    padding-right: 10px;
  }

  .apartment-size .area {
    border-left: 1px #eaeaea solid;
    padding-left: 10px;
  }
